
    <div class="col-md-3"></div>
    
    <div class="panel panel-default col-md-6" style="background: rgba(255, 255, 255, 0.7); margin-top:10%; padding:50px 50px 50px 50px;">
      <!-- Default panel contents -->

      <div class="panel-body">
        <center>
            <p style="font-weight:bold;font-size:20px;"> 비밀번호를 변경하세요 !</p><br>
            <p style="color:red"><b> <%= flash[:error] %> </b></p>
            <form action="/lion/mod_pwd_" METHOD="POST">
                <input class="" type="password" name="password" placeholder="PassWord">
                <input class="" type="password" name="password2" placeholder="Confirm PassWord">
                <input class="btn btn-warning btn-sm" style="" type="submit" value="변경하기">
            </form>
        </center>
      </div>
    
      
    </div>
    
    <div class="col-md-3"></div>
