<table style="width:100%; font-size: 20px;">
    <thead>
            <tr>
                <td>번호</td>
                <!--<td>지원순서</td>-->
                <td>이름</td>
                <td>학번</td>
                <td>학과</td>
            </tr>
    </thead>
    <tbody>
            <tr>
                <td><a alt="43">1</a></td>
                <!--<td><a alt="43">43</a></td>-->
                <td><a alt="43">송*지</a></td>
                <td><a alt="43">14</a></td>
                <td><a alt="43">북한학과</a></td>
            <!--    <td><a alt="43">rose7432@naver.com</a></td>-->
            <!--    <td><a alt="43">01041707432</a></td>-->
            <!--    <td><a alt="43">여</a></td>-->
            <!--    <td><a alt="43">22</a></td>-->
            <!--    <td><a alt="43"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
            <!--    <td>류진이 보는느낌인데이겈ㅋㅋ</td>-->
            <!--    <td>-->
            <!--      92 점-->
            <!--    </td>-->
            </tr>
          
            <tr>
                <td><a alt="33">2</a></td>
                <!--<td><a alt="33">33</a></td>-->
                <td><a alt="33">조*연</a></td>
                <td><a alt="33">15</a></td>
                <td><a alt="33">경영학과</a></td>
                <!--<td><a alt="33">georgeyeon@naver.com</a></td>-->
                <!--<td><a alt="33">01048947855</a></td>-->
                <!--<td><a alt="33">여</a></td>-->
                <!--<td><a alt="33">21</a></td>-->
                <!--<td><a alt="33"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>박현민 키드</td>-->
                <!--<td>-->
                <!--  89 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="13">3</a></td>
                <!--<td><a alt="13">13</a></td>-->
                <td><a alt="13">송*혜</a></td>
                <td><a alt="13">13</a></td>
                <td><a alt="13">경제학과</a></td>
                <!--<td><a alt="13">soyv4326@naver.com</a></td>-->
                <!--<td><a alt="13">01091071250</a></td>-->
                <!--<td><a alt="13">여</a></td>-->
                <!--<td><a alt="13">24</a></td>-->
                <!--<td><a alt="13"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  88 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="14">4</a></td>
                <!--<td><a alt="14">14</a></td>-->
                <td><a alt="14">왕*현</a></td>
                <td><a alt="14">10</a></td>
                <td><a alt="14">정보통신공학</a></td>
                <!--<td><a alt="14">wangdh1991@naver.com</a></td>-->
                <!--<td><a alt="14">01026749942</a></td>-->
                <!--<td><a alt="14">남</a></td>-->
                <!--<td><a alt="14">26</a></td>-->
                <!--<td><a alt="14"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  86 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="12">5</a></td>
                <!--<td><a alt="12">12</a></td>-->
                <td><a alt="12">백*수</a></td>
                <td><a alt="12">11</a></td>
                <td><a alt="12">컴퓨터공학과</a></td>
                <!--<td><a alt="12">wowterry@naver.com</a></td>-->
                <!--<td><a alt="12">01033389044</a></td>-->
                <!--<td><a alt="12">남</a></td>-->
                <!--<td><a alt="12">27</a></td>-->
                <!--<td><a alt="12"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>능력자</td>-->
                <!--<td>-->
                <!--  85 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="32">6</a></td>
                <!--<td><a alt="32">32</a></td>-->
                <td><a alt="32">백*목</a></td>
                <td><a alt="32">11</a></td>
                <td><a alt="32">국제통상학과</a></td>
                <!--<td><a alt="32">baekkimok@naver.com</a></td>-->
                <!--<td><a alt="32">01088540734</a></td>-->
                <!--<td><a alt="32">남</a></td>-->
                <!--<td><a alt="32">26</a></td>-->
                <!--<td><a alt="32"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  85 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="8">7</a></td>
                <!--<td><a alt="8">8</a></td>-->
                <td><a alt="8">김*영</a></td>
                <td><a alt="8">14</a></td>
                <td><a alt="8">경영학부</a></td>
                <!--<td><a alt="8">jayoung722@naver.com</a></td>-->
                <!--<td><a alt="8">01063072413</a></td>-->
                <!--<td><a alt="8">여</a></td>-->
                <!--<td><a alt="8">22</a></td>-->
                <!--<td><a alt="8"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  84 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="30">8</a></td>
                <!--<td><a alt="30">30</a></td>-->
                <td><a alt="30">신*날</a></td>
                <td><a alt="30">12</a></td>
                <td><a alt="30">생명과학과</a></td>
                <!--<td><a alt="30">psz0312@gmail.com</a></td>-->
                <!--<td><a alt="30">01087972876</a></td>-->
                <!--<td><a alt="30">남</a></td>-->
                <!--<td><a alt="30">26</a></td>-->
                <!--<td><a alt="30"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  84 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="31">9</a></td>
                <!--<td><a alt="31">31</a></td>-->
                <td><a alt="31">조*욱</a></td>
                <td><a alt="31">12</a></td>
                <td><a alt="31">정보통신공학과</a></td>
                <!--<td><a alt="31">lastindus@naver.com</a></td>-->
                <!--<td><a alt="31">01033268300</a></td>-->
                <!--<td><a alt="31">남</a></td>-->
                <!--<td><a alt="31"></a></td>-->
                <!--<td><a alt="31"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>소개부분만 있고, 지원서 신상부분 누락됨</td>-->
                <!--<td>-->
                <!--  82 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="9">10</a></td>
                <!--<td><a alt="9">9</a></td>-->
                <td><a alt="9">박*준</a></td>
                <td><a alt="9">12</a></td>
                <td><a alt="9">회계학과</a></td>
                <!--<td><a alt="9">tjdwns9498@gmail.com</a></td>-->
                <!--<td><a alt="9">01087589498</a></td>-->
                <!--<td><a alt="9">남</a></td>-->
                <!--<td><a alt="9">24</a></td>-->
                <!--<td><a alt="9"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>나이는 불분명, 지원서 양식이 좀 독특ㅋ</td>-->
                <!--<td>-->
                <!--  81 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="10">11</a></td>
                <!--<td><a alt="10">10</a></td>-->
                <td><a alt="10">김*원</a></td>
                <td><a alt="10">13</a></td>
                <td><a alt="10">전자전기공학부</a></td>
                <!--<td><a alt="10">jwk672@naver.com</a></td>-->
                <!--<td><a alt="10">01055779031</a></td>-->
                <!--<td><a alt="10">여</a></td>-->
                <!--<td><a alt="10">23</a></td>-->
                <!--<td><a alt="10"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  81 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="61">12</a></td>
                <!--<td><a alt="61">61</a></td>-->
                <td><a alt="61">권*환</a></td>
                <td><a alt="61">13</a></td>
                <td><a alt="61">경영학부</a></td>
                <!--<td><a alt="61">yunhwan1903@gmail.com</a></td>-->
                <!--<td><a alt="61">01051837876</a></td>-->
                <!--<td><a alt="61">남</a></td>-->
                <!--<td><a alt="61">24</a></td>-->
                <!--<td><a alt="61"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  81 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="3">13</a></td>
                <!--<td><a alt="3">3</a></td>-->
                <td><a alt="3">김*현</a></td>
                <td><a alt="3">12</a></td>
                <td><a alt="3">경제학과</a></td>
                <!--<td><a alt="3">chihyunll@naver.com</a></td>-->
                <!--<td><a alt="3">01025467414</a></td>-->
                <!--<td><a alt="3">남</a></td>-->
                <!--<td><a alt="3">26</a></td>-->
                <!--<td><a alt="3"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>첫번째 지원자, 융합소프트웨어 전공, 애니고 게임개발학과</td>-->
                <!--<td>-->
                <!--  80 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="17">14</a></td>
                <!--<td><a alt="17">17</a></td>-->
                <td><a alt="17">한*혜</a></td>
                <td><a alt="17">12</a></td>
                <td><a alt="17">정보통신공학</a></td>
                <!--<td><a alt="17">bearhyeju@naver.com</a></td>-->
                <!--<td><a alt="17">01038820463</a></td>-->
                <!--<td><a alt="17">여</a></td>-->
                <!--<td><a alt="17">24</a></td>-->
                <!--<td><a alt="17"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>비전공자로 봐야하는가. 멋사에 집중할 수 있을만하다는 판단</td>-->
                <!--<td>-->
                <!--  80 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="22">15</a></td>
                <!--<td><a alt="22">22</a></td>-->
                <td><a alt="22">황*운</a></td>
                <td><a alt="22">14</a></td>
                <td><a alt="22">경영학부</a></td>
                <!--<td><a alt="22">h330623@naver.com</a></td>-->
                <!--<td><a alt="22">01030846623</a></td>-->
                <!--<td><a alt="22">여</a></td>-->
                <!--<td><a alt="22">23</a></td>-->
                <!--<td><a alt="22"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  78 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="39">16</a></td>
                <!--<td><a alt="39">39</a></td>-->
                <td><a alt="39">이*영</a></td>
                <td><a alt="39">13</a></td>
                <td><a alt="39">정보통신공학과</a></td>
                <!--<td><a alt="39">dms2517@naver.com</a></td>-->
                <!--<td><a alt="39">01031024249</a></td>-->
                <!--<td><a alt="39">여</a></td>-->
                <!--<td><a alt="39">23</a></td>-->
                <!--<td><a alt="39"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  78 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="52">17</a></td>
                <!--<td><a alt="52">52</a></td>-->
                <td><a alt="52">이*훈</a></td>
                <td><a alt="52">14</a></td>
                <td><a alt="52">수학과</a></td>
                <!--<td><a alt="52">jjh950912@naver.com</a></td>-->
                <!--<td><a alt="52">01046527912</a></td>-->
                <!--<td><a alt="52">여</a></td>-->
                <!--<td><a alt="52">22</a></td>-->
                <!--<td><a alt="52"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  78 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="58">18</a></td>
                <!--<td><a alt="58">58</a></td>-->
                <td><a alt="58">조*림</a></td>
                <td><a alt="58">13</a></td>
                <td><a alt="58">수학과</a></td>
                <!--<td><a alt="58">ikisee@naver.com</a></td>-->
                <!--<td><a alt="58">01036676702</a></td>-->
                <!--<td><a alt="58">여</a></td>-->
                <!--<td><a alt="58">22</a></td>-->
                <!--<td><a alt="58"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  78 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="23">19</a></td>
                <!--<td><a alt="23">23</a></td>-->
                <td><a alt="23">김*현</a></td>
                <td><a alt="23">12</a></td>
                <td><a alt="23">정보통신공학과</a></td>
                <!--<td><a alt="23">harimck@naver.com</a></td>-->
                <!--<td><a alt="23">01037780335</a></td>-->
                <!--<td><a alt="23">남</a></td>-->
                <!--<td><a alt="23">25</a></td>-->
                <!--<td><a alt="23"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="25">20</a></td>
                <!--<td><a alt="25">25</a></td>-->
                <td><a alt="25">이*라</a></td>
                <td><a alt="25">13</a></td>
                <td><a alt="25">전자전기공학부</a></td>
                <!--<td><a alt="25">na0927ra@naver.com</a></td>-->
                <!--<td><a alt="25">01039572114</a></td>-->
                <!--<td><a alt="25">여</a></td>-->
                <!--<td><a alt="25">23</a></td>-->
                <!--<td><a alt="25"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="38">21</a></td>
                <!--<td><a alt="38">38</a></td>-->
                <td><a alt="38">김*배</a></td>
                <td><a alt="38">12</a></td>
                <td><a alt="38">컴퓨터공학과</a></td>
                <!--<td><a alt="38">kim92sb@hanmail.ne</a></td>-->
                <!--<td><a alt="38">01027672643</a></td>-->
                <!--<td><a alt="38">남</a></td>-->
                <!--<td><a alt="38">25</a></td>-->
                <!--<td><a alt="38"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="42">22</a></td>
                <!--<td><a alt="42">42</a></td>-->
                <td><a alt="42">소*현</a></td>
                <td><a alt="42">12</a></td>
                <td><a alt="42">정보통신공학</a></td>
                <!--<td><a alt="42">sbh_21@naver.com</a></td>-->
                <!--<td><a alt="42">01052388713</a></td>-->
                <!--<td><a alt="42">남</a></td>-->
                <!--<td><a alt="42">23</a></td>-->
                <!--<td><a alt="42"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="51">23</a></td>
                <!--<td><a alt="51">51</a></td>-->
                <td><a alt="51">이*을</a></td>
                <td><a alt="51">10</a></td>
                <td><a alt="51">전자전기공학</a></td>
                <!--<td><a alt="51">gaeulautumnlee@gmail.com</a></td>-->
                <!--<td><a alt="51">01063178386</a></td>-->
                <!--<td><a alt="51">여</a></td>-->
                <!--<td><a alt="51"></a></td>-->
                <!--<td><a alt="51"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td>지원서가 프로그램인데 이거 노트북 보안때매 안열린다!!ㄷㄷㄷ 학교가서봐야되나</td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="59">24</a></td>
                <!--<td><a alt="59">59</a></td>-->
                <td><a alt="59">조*빈</a></td>
                <td><a alt="59">14</a></td>
                <td><a alt="59">경영학과</a></td>
                <!--<td><a alt="59">beeeen25@naver.com</a></td>-->
                <!--<td><a alt="59">01052581025</a></td>-->
                <!--<td><a alt="59">여</a></td>-->
                <!--<td><a alt="59">23</a></td>-->
                <!--<td><a alt="59"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  76 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="55">25</a></td>
                <!--<td><a alt="55">55</a></td>-->
                <td><a alt="55">김*경</a></td>
                <td><a alt="55">15</a></td>
                <td><a alt="55">산업시스템공학과</a></td>
                <!--<td><a alt="55">samban2@naver.com</a></td>-->
                <!--<td><a alt="55">01089447378</a></td>-->
                <!--<td><a alt="55">여</a></td>-->
                <!--<td><a alt="55">23</a></td>-->
                <!--<td><a alt="55"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  75 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="20">26</a></td>
                <!--<td><a alt="20">20</a></td>-->
                <td><a alt="20">조*슬</a></td>
                <td><a alt="20">14</a></td>
                <td><a alt="20">신문방송학과</a></td>
                <!--<td><a alt="20">dltmfdl1097@naver.com</a></td>-->
                <!--<td><a alt="20">01043321097</a></td>-->
                <!--<td><a alt="20">여</a></td>-->
                <!--<td><a alt="20">22</a></td>-->
                <!--<td><a alt="20"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  74 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="48">27</a></td>
                <!--<td><a alt="48">48</a></td>-->
                <td><a alt="48">김*민</a></td>
                <td><a alt="48">09</a></td>
                <td><a alt="48">경영정보학과</a></td>
                <!--<td><a alt="48">rlawoals1359@daum.net</a></td>-->
                <!--<td><a alt="48">01064343417</a></td>-->
                <!--<td><a alt="48">남</a></td>-->
                <!--<td><a alt="48"></a></td>-->
                <!--<td><a alt="48"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  74 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="26">28</a></td>
                <!--<td><a alt="26">26</a></td>-->
                <td><a alt="26">정*호</a></td>
                <td><a alt="26">12</a></td>
                <td><a alt="26">정보통신공학전공</a></td>
                <!--<td><a alt="26">uv187sn@naver.com</a></td>-->
                <!--<td><a alt="26">01089096490</a></td>-->
                <!--<td><a alt="26">남</a></td>-->
                <!--<td><a alt="26">24</a></td>-->
                <!--<td><a alt="26"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  73 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="36">29</a></td>
                <!--<td><a alt="36">36</a></td>-->
                <td><a alt="36">고*희</a></td>
                <td><a alt="36">12</a></td>
                <td><a alt="36">컴퓨터공학과</a></td>
                <!--<td><a alt="36">kjh338076@naver.com</a></td>-->
                <!--<td><a alt="36">01063650916</a></td>-->
                <!--<td><a alt="36">남</a></td>-->
                <!--<td><a alt="36">25</a></td>-->
                <!--<td><a alt="36"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  73 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="37">30</a></td>
                <!--<td><a alt="37">37</a></td>-->
                <td><a alt="37">추*훈</a></td>
                <td><a alt="37">11</a></td>
                <td><a alt="37">통계학과</a></td>
                <!--<td><a alt="37">cndusgns1004@naver.com</a></td>-->
                <!--<td><a alt="37">01052411430</a></td>-->
                <!--<td><a alt="37">남</a></td>-->
                <!--<td><a alt="37">25</a></td>-->
                <!--<td><a alt="37"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  73 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="53">31</a></td>
                <!--<td><a alt="53">53</a></td>-->
                <td><a alt="53">김*미</a></td>
                <td><a alt="53">16</a></td>
                <td><a alt="53">경영학부</a></td>
                <!--<td><a alt="53">kimbom1212@naver.com</a></td>-->
                <!--<td><a alt="53">01085711646</a></td>-->
                <!--<td><a alt="53">여</a></td>-->
                <!--<td><a alt="53">20</a></td>-->
                <!--<td><a alt="53"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  73 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="2">32</a></td>
                <!--<td><a alt="2">2</a></td>-->
                <td><a alt="2">임*훈</a></td>
                <td><a alt="2">11</a></td>
                <td><a alt="2">한의학과</a></td>
                <!--<td><a alt="2">9191307@naver.com</a></td>-->
                <!--<td><a alt="2">01051206878</a></td>-->
                <!--<td><a alt="2">남</a></td>-->
                <!--<td><a alt="2">25</a></td>-->
                <!--<td><a alt="2"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>의대생이라니!!!</td>-->
                <!--<td>-->
                <!--  72 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="16">33</a></td>
                <!--<td><a alt="16">16</a></td>-->
                <td><a alt="16">정*우</a></td>
                <td><a alt="16">13</a></td>
                <td><a alt="16">산업시스템공학과</a></td>
                <!--<td><a alt="16">iam_sw_@naver.com</a></td>-->
                <!--<td><a alt="16">01031502666</a></td>-->
                <!--<td><a alt="16">남</a></td>-->
                <!--<td><a alt="16">23</a></td>-->
                <!--<td><a alt="16"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  72 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="47">34</a></td>
                <!--<td><a alt="47">47</a></td>-->
                <td><a alt="47">추*호</a></td>
                <td><a alt="47">11</a></td>
                <td><a alt="47">정보통신공학과</a></td>
                <!--<td><a alt="47">cnpanic@naver.com</a></td>-->
                <!--<td><a alt="47">01033354382</a></td>-->
                <!--<td><a alt="47">남</a></td>-->
                <!--<td><a alt="47">26</a></td>-->
                <!--<td><a alt="47"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  72 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="6">35</a></td>
                <!--<td><a alt="6">6</a></td>-->
                <td><a alt="6">최*훈</a></td>
                <td><a alt="6">12</a></td>
                <td><a alt="6">바이오환경과학과</a></td>
                <!--<td><a alt="6">wildboy531@naver.com</a></td>-->
                <!--<td><a alt="6">01023952351</a></td>-->
                <!--<td><a alt="6">남</a></td>-->
                <!--<td><a alt="6">26</a></td>-->
                <!--<td><a alt="6"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  71 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="28">36</a></td>
                <!--<td><a alt="28">28</a></td>-->
                <td><a alt="28">김*식</a></td>
                <td><a alt="28">16</a></td>
                <td><a alt="28">경영학부</a></td>
                <!--<td><a alt="28">gamrom01@naver.com</a></td>-->
                <!--<td><a alt="28">01036609722</a></td>-->
                <!--<td><a alt="28">남</a></td>-->
                <!--<td><a alt="28">20</a></td>-->
                <!--<td><a alt="28"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>새내기ㄷㄷ</td>-->
                <!--<td>-->
                <!--  71 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="49">37</a></td>
                <!--<td><a alt="49">49</a></td>-->
                <td><a alt="49">홍*현</a></td>
                <td><a alt="49">13</a></td>
                <td><a alt="49">경영학부</a></td>
                <!--<td><a alt="49">michaelhong3504@gmail.com</a></td>-->
                <!--<td><a alt="49">01098073504</a></td>-->
                <!--<td><a alt="49">남</a></td>-->
                <!--<td><a alt="49">23</a></td>-->
                <!--<td><a alt="49"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  71 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="56">38</a></td>
                <!--<td><a alt="56">56</a></td>-->
                <td><a alt="56">정*근</a></td>
                <td><a alt="56">13</a></td>
                <td><a alt="56">법학과</a></td>
                <!--<td><a alt="56">hoauys@hanmail.net</a></td>-->
                <!--<td><a alt="56">01050997680</a></td>-->
                <!--<td><a alt="56">남</a></td>-->
                <!--<td><a alt="56">24</a></td>-->
                <!--<td><a alt="56"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  71 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="46">39</a></td>
                <!--<td><a alt="46">46</a></td>-->
                <td><a alt="46">어*선</a></td>
                <td><a alt="46">15</a></td>
                <td><a alt="46">생명과학과</a></td>
                <!--<td><a alt="46">fishsun33@naver.com</a></td>-->
                <!--<td><a alt="46">01077525994</a></td>-->
                <!--<td><a alt="46">남</a></td>-->
                <!--<td><a alt="46">21</a></td>-->
                <!--<td><a alt="46"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  69 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="57">40</a></td>
                <!--<td><a alt="57">57</a></td>-->
                <td><a alt="57">서*진</a></td>
                <td><a alt="57">15</a></td>
                <td><a alt="57">영화영상학과</a></td>
                <!--<td><a alt="57">ujin96@naver.com</a></td>-->
                <!--<td><a alt="57">01050050172</a></td>-->
                <!--<td><a alt="57">여</a></td>-->
                <!--<td><a alt="57">21</a></td>-->
                <!--<td><a alt="57"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td>디자이너ㄱ</td>-->
                <!--<td>-->
                <!--  69 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="35">41</a></td>
                <!--<td><a alt="35">35</a></td>-->
                <td><a alt="35">김*균</a></td>
                <td><a alt="35">12</a></td>
                <td><a alt="35">경영학과</a></td>
                <!--<td><a alt="35">nb_look@naver.com</a></td>-->
                <!--<td><a alt="35">01071379146</a></td>-->
                <!--<td><a alt="35">남</a></td>-->
                <!--<td><a alt="35"></a></td>-->
                <!--<td><a alt="35"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  68 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="44">42</a></td>
                <!--<td><a alt="44">44</a></td>-->
                <td><a alt="44">유*우</a></td>
                <td><a alt="44">14</a></td>
                <td><a alt="44">컴퓨터공학과</a></td>
                <!--<td><a alt="44">sunwoolyu@naver.com</a></td>-->
                <!--<td><a alt="44">01097723159</a></td>-->
                <!--<td><a alt="44">남</a></td>-->
                <!--<td><a alt="44">25</a></td>-->
                <!--<td><a alt="44"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  68 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="4">43</a></td>
                <!--<td><a alt="4">4</a></td>-->
                <td><a alt="4">임*산</a></td>
                <td><a alt="4">10</a></td>
                <td><a alt="4">생명과학과</a></td>
                <!--<td><a alt="4">dnay2k@naver.com</a></td>-->
                <!--<td><a alt="4">01089742419</a></td>-->
                <!--<td><a alt="4">남</a></td>-->
                <!--<td><a alt="4">26</a></td>-->
                <!--<td><a alt="4"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  67 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="41">44</a></td>
                <!--<td><a alt="41">41</a></td>-->
                <td><a alt="41">김*기</a></td>
                <td><a alt="41">12</a></td>
                <td><a alt="41">정보통신공학과</a></td>
                <!--<td><a alt="41">kcg44501@daum.net</a></td>-->
                <!--<td><a alt="41">01041224450</a></td>-->
                <!--<td><a alt="41">남</a></td>-->
                <!--<td><a alt="41">25</a></td>-->
                <!--<td><a alt="41"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  67 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="54">45</a></td>
                <!--<td><a alt="54">54</a></td>-->
                <td><a alt="54">이*희</a></td>
                <td><a alt="54">14</a></td>
                <td><a alt="54">북한학과</a></td>
                <!--<td><a alt="54">ses3308@naver.com</a></td>-->
                <!--<td><a alt="54">01053776062</a></td>-->
                <!--<td><a alt="54">여</a></td>-->
                <!--<td><a alt="54">22</a></td>-->
                <!--<td><a alt="54"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  67 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="45">46</a></td>
                <!--<td><a alt="45">45</a></td>-->
                <td><a alt="45">강*민</a></td>
                <td><a alt="45">14</a></td>
                <td><a alt="45">경영학과</a></td>
                <!--<td><a alt="45">oyeshaha930@naver.com</a></td>-->
                <!--<td><a alt="45">01037538147</a></td>-->
                <!--<td><a alt="45">남</a></td>-->
                <!--<td><a alt="45">24</a></td>-->
                <!--<td><a alt="45"><b>8</b>명 중 <b>6</b>명<br><b>(75%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  66 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="18">47</a></td>
                <!--<td><a alt="18">18</a></td>-->
                <td><a alt="18">노*원</a></td>
                <td><a alt="18">11</a></td>
                <td><a alt="18">회계학과</a></td>
                <!--<td><a alt="18">jake8955@naver.com</a></td>-->
                <!--<td><a alt="18">01035115502</a></td>-->
                <!--<td><a alt="18">남</a></td>-->
                <!--<td><a alt="18">25</a></td>-->
                <!--<td><a alt="18"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td>융합소프트웨어 전공자</td>-->
                <!--<td>-->
                <!--  64 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="7">48</a></td>
                <!--<td><a alt="7">7</a></td>-->
                <td><a alt="7">박*현</a></td>
                <td><a alt="7">12</a></td>
                <td><a alt="7">컴퓨터공학과</a></td>
                <!--<td><a alt="7">wisetriumph@naver.com</a></td>-->
                <!--<td><a alt="7">01064740816</a></td>-->
                <!--<td><a alt="7">남</a></td>-->
                <!--<td><a alt="7">24</a></td>-->
                <!--<td><a alt="7"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  63 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="19">49</a></td>
                <!--<td><a alt="19">19</a></td>-->
                <td><a alt="19">이*경</a></td>
                <td><a alt="19">14</a></td>
                <td><a alt="19">신문방송학과</a></td>
                <!--<td><a alt="19">dlgusrud95@naver.com</a></td>-->
                <!--<td><a alt="19">01092729797</a></td>-->
                <!--<td><a alt="19">여</a></td>-->
                <!--<td><a alt="19">22</a></td>-->
                <!--<td><a alt="19"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  63 점-->
                <!--</td>-->
            </tr>
          
            <tr>
                <td><a alt="27">50</a></td>
                <!--<td><a alt="27">27</a></td>-->
                <td><a alt="27">장*희</a></td>
                <td><a alt="27">11</a></td>
                <td><a alt="27">정보통신공학</a></td>
                <!--<td><a alt="27">wnsgml38@gmail.com</a></td>-->
                <!--<td><a alt="27">01067655586</a></td>-->
                <!--<td><a alt="27">남</a></td>-->
                <!--<td><a alt="27">25</a></td>-->
                <!--<td><a alt="27"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
                <!--<td></td>-->
                <!--<td>-->
                <!--  61 점-->
                <!--</td>-->
            </tr>
<!--######################################################################################################-->
<!--            <tr>-->
<!--                <td><a alt="11">51</a></td>-->
<!--                <td><a alt="11">11</a></td>-->
<!--                <td><a alt="11">최형용</a></td>-->
<!--                <td><a alt="11">12</a></td>-->
<!--                <td><a alt="11">전자전기공학부</a></td>-->
<!--                <td><a alt="11">guddyd789@daum.net</a></td>-->
<!--                <td><a alt="11">01025032026</a></td>-->
<!--                <td><a alt="11">남</a></td>-->
<!--                <td><a alt="11">24</a></td>-->
<!--                <td><a alt="11"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td>파일이 깨지는 분은 상단의 복구버전을 다운로드해주세요</td>-->
<!--                <td>-->
<!--                  60 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="5">52</a></td>-->
<!--                <td><a alt="5">5</a></td>-->
<!--                <td><a alt="5">박상준</a></td>-->
<!--                <td><a alt="5">10</a></td>-->
<!--                <td><a alt="5">컴퓨터공학과</a></td>-->
<!--                <td><a alt="5">sangjunpark0203@gmail.com</a></td>-->
<!--                <td><a alt="5">01092714555</a></td>-->
<!--                <td><a alt="5">남</a></td>-->
<!--                <td><a alt="5">26</a></td>-->
<!--                <td><a alt="5"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  59 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="24">53</a></td>-->
<!--                <td><a alt="24">24</a></td>-->
<!--                <td><a alt="24">이현아</a></td>-->
<!--                <td><a alt="24">12</a></td>-->
<!--                <td><a alt="24">경영학과</a></td>-->
<!--                <td><a alt="24">nakedp@naver.com</a></td>-->
<!--                <td><a alt="24">01051049310</a></td>-->
<!--                <td><a alt="24">여</a></td>-->
<!--                <td><a alt="24">24</a></td>-->
<!--                <td><a alt="24"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  58 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="34">54</a></td>-->
<!--                <td><a alt="34">34</a></td>-->
<!--                <td><a alt="34">김범수</a></td>-->
<!--                <td><a alt="34">12</a></td>-->
<!--                <td><a alt="34">정보통신공학전공</a></td>-->
<!--                <td><a alt="34">crowjhdqjatn@naver.com</a></td>-->
<!--                <td><a alt="34">01051281064</a></td>-->
<!--                <td><a alt="34">남</a></td>-->
<!--                <td><a alt="34">24</a></td>-->
<!--                <td><a alt="34"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  58 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="1">55</a></td>-->
<!--                <td><a alt="1">1</a></td>-->
<!--                <td><a alt="1">전현찬</a></td>-->
<!--                <td><a alt="1">10</a></td>-->
<!--                <td><a alt="1">불교학부</a></td>-->
<!--                <td><a alt="1">jqu8ry@gmail.com</a></td>-->
<!--                <td><a alt="1">01099868622</a></td>-->
<!--                <td><a alt="1">남</a></td>-->
<!--                <td><a alt="1">26</a></td>-->
<!--                <td><a alt="1"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  57 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="62">56</a></td>-->
<!--                <td><a alt="62">62</a></td>-->
<!--                <td><a alt="62">정채운</a></td>-->
<!--                <td><a alt="62">11</a></td>-->
<!--                <td><a alt="62">정보통신공학과</a></td>-->
<!--                <td><a alt="62">jcw118@naver.com</a></td>-->
<!--                <td><a alt="62">01041745760</a></td>-->
<!--                <td><a alt="62">남</a></td>-->
<!--                <td><a alt="62">25</a></td>-->
<!--                <td><a alt="62"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  56 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="15">57</a></td>-->
<!--                <td><a alt="15">15</a></td>-->
<!--                <td><a alt="15">남규태</a></td>-->
<!--                <td><a alt="15">11</a></td>-->
<!--                <td><a alt="15">정보통신공학전공</a></td>-->
<!--                <td><a alt="15">ngt8751@naver.com</a></td>-->
<!--                <td><a alt="15">01089168252</a></td>-->
<!--                <td><a alt="15">남</a></td>-->
<!--                <td><a alt="15">25</a></td>-->
<!--                <td><a alt="15"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  54 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="60">58</a></td>-->
<!--                <td><a alt="60">60</a></td>-->
<!--                <td><a alt="60">김태준</a></td>-->
<!--                <td><a alt="60">09</a></td>-->
<!--                <td><a alt="60">기계공학과</a></td>-->
<!--                <td><a alt="60">ktj3419@gmail.com</a></td>-->
<!--                <td><a alt="60">01087666987</a></td>-->
<!--                <td><a alt="60">남</a></td>-->
<!--                <td><a alt="60">27</a></td>-->
<!--                <td><a alt="60"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  54 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="21">59</a></td>-->
<!--                <td><a alt="21">21</a></td>-->
<!--                <td><a alt="21">김종현</a></td>-->
<!--                <td><a alt="21">16</a></td>-->
<!--                <td><a alt="21">경영학부</a></td>-->
<!--                <td><a alt="21">kimjonghyun7@dongguk.edu</a></td>-->
<!--                <td><a alt="21">01033335817</a></td>-->
<!--                <td><a alt="21">남</a></td>-->
<!--                <td><a alt="21">20</a></td>-->
<!--                <td><a alt="21"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td>새내기라니!!!</td>-->
<!--                <td>-->
<!--                  52 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="50">60</a></td>-->
<!--                <td><a alt="50">50</a></td>-->
<!--                <td><a alt="50">한종호</a></td>-->
<!--                <td><a alt="50">16</a></td>-->
<!--                <td><a alt="50">정보통신공학과</a></td>-->
<!--                <td><a alt="50">lgwl81@gmail.com</a></td>-->
<!--                <td><a alt="50">01057952740</a></td>-->
<!--                <td><a alt="50">남</a></td>-->
<!--                <td><a alt="50">20</a></td>-->
<!--                <td><a alt="50"><b>8</b>명 중 <b>5</b>명<br><b>(62%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  44 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="29">61</a></td>-->
<!--                <td><a alt="29">29</a></td>-->
<!--                <td><a alt="29">이창호</a></td>-->
<!--                <td><a alt="29">11</a></td>-->
<!--                <td><a alt="29">사회학과</a></td>-->
<!--                <td><a alt="29">ckdghapdlf@naver.com</a></td>-->
<!--                <td><a alt="29">01041928475</a></td>-->
<!--                <td><a alt="29">남</a></td>-->
<!--                <td><a alt="29">26</a></td>-->
<!--                <td><a alt="29"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  40 점-->
<!--                </td>-->
<!--            </tr>-->
          
<!--            <tr>-->
<!--                <td><a alt="40">62</a></td>-->
<!--                <td><a alt="40">40</a></td>-->
<!--                <td><a alt="40">전용섭</a></td>-->
<!--                <td><a alt="40">12</a></td>-->
<!--                <td><a alt="40">식품생명공학과</a></td>-->
<!--                <td><a alt="40">appicure0@gmail.com</a></td>-->
<!--                <td><a alt="40">01047833922</a></td>-->
<!--                <td><a alt="40">남</a></td>-->
<!--                <td><a alt="40">26</a></td>-->
<!--                <td><a alt="40"><b>8</b>명 중 <b>8</b>명<br><b>(100%)</b></a></td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                  37 점-->
<!--                </td>-->
<!--            </tr>-->
    </tbody>
</table>