
    <div class="col-md-3"></div>
    
    <div class="panel panel-default col-md-6" style="background: rgba(255, 255, 255, 0.7); margin-top:10%; padding:50px 50px 50px 50px;">
      <!-- Default panel contents -->
      <div class="panel-body">
        <center>
            <p style="color:red; font-size:35px;"> <%= flash[:error] %> </p><br>
            <a style="padding: 10px 30px 10px 30px" class="btn btn-warning" href="/lion/mod">Home으로</a>
        </center>
      </div>
    
      
    </div>
    
    <div class="col-md-3"></div>
