<div class="col-md-12 no-padding-a bg-color_bluegray">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding: 7%;">
        <div class="col-md-12" style="border: 2px solid #ffffff; text-align:center; height:300px;">
            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="col-md-12 bg-color_bluegray" style="padding: 0px 10% 0px 10%;">
    <div class="col-md-12 bg-color_skyblue" style="width:100%; height:500px;">
        
    </div>
</div>




<style>
    .no-padding-a{
        padding:0;
    }
    .bg-color_skyblue{
        background-color: #03a9f4;
    }
    .bg-color_blue{
        background-color: #2196f3;
    }
    .bg-color_darkgreen{
        background-color: #009688;
    }
    .bg-color_oceanblue{
        background-color: #00bcd4;
    }
    .bg-color_bluegray{
        background-color: #607d8b;
    }
    .bg-color_orange{
        background-color: #ff9800;
    }
    .bg-color_darkbluegray{
        background: rgb(61, 79, 93);
    }
</style>