<div class="col-md-4 col-sm-2 col-xs-1"></div>
<div class="col-md-4 col-sm-8 col-xs-10">
    <form action="/qna/send_email" id="contactForm" method="GET">
        <div class="row" style="background: rgba(255, 165, 0, 0.54);padding: 10px; margin-top:30px;border-radius: 15px;">
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center" style="margin-top:10px;">
                <div class="form-group">
                    <textarea class="form-control" rows="4" name="user_message" placeholder="궁금한 점 등 자유롭게 메세지를 남겨주세요! *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-blue ripple" style="width:100%;margin-bottom:10px;">물어보기</button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-4 col-sm-2 col-xs-1"></div>